.ChangePasswordForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      input {
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
  
      button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s; /* Add a smooth transition effect */
      }
  
      button:hover {
        background-color: #0056b3; /* Darken the background color on hover */
      }
    }
  
    .message {
      margin-top: 15px;
      padding: 10px;
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
    }
  
    @media (max-width: 768px) {
      .ChangePasswordForm {
        max-width: 100%;
      }
    }
  }
  